<h1 class="text-center">{{pageTitle}}</h1>
<table class="table table-bordered">
  <tr class="bg-primary">
    <th>Id</th>
    <th>Name</th>
    <th>City</th>
    <th>Salary</th>
    <th>DOB</th>
    <th>Age</th>


  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name|uppercase}}</td>
    <td>{{user.city|lowercase}}</td>
    <td>{{user.salary}}</td>
    <td>{{user.dob | date:'dd/MM/yyyy'}}</td>
    <td>{{user.dob | age}}</td>

  </tr>
</table>
<div><h1>Angular 4 App</h1>
  <app-binding></app-binding>
</div>
